body {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    padding: 50px;
    border-radius: 5px;
    color: #333;
    position: relative;
    animation: floatIn 1s forwards ease-in-out;
}

@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

p {
    font-size: 18px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all 0.1s cubic-bezier(0.5, 0, 0.5, 1);
    background: linear-gradient(to bottom, #ff0066, #ff9900);
}


@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 10px;
    }
}

.resume {
    margin: 0 auto;
    max-width: 250px;
    text-align: center;
    border: 1px solid #000000;
    padding: 1px;
    border-radius: 10px;
}